<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="~/Content/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - CTN Texas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="hide-on-med-and-down">
        <nav style="background-color:#F8F8F8; height:auto; padding-top:10px">
            <div class="container">
                <div class="row">
                    <div class="col l8 m6 s12">
                        <img src="~/Content/images/ctnLogo.png" class="left" style="width:auto; height:auto; max-height:100px" />
                    </div>
                    <div class="col l4 m6 s12">
                        <div class="row">
                            <div class="col s12" style="line-height:24px">
                                <a href="http://facebook.com"><img src="~/Content/images/facebook.png" height="24" style="padding-right:5px" /></a>
                                <a href="http://twitter.com"><img src="~/Content/images/twitter.png" height="24" /></a>                                
                            </div>
                            <div class="col s12 blue-grey-text" style="line-height:24px"><a href="http://www.google.com/"><img src="~/Content/images/Dial.png" height="24"></a>&nbsp;&nbsp;(713) 484-6947</div>
                            <div class="col s12 blue-grey-text" style="line-height:24px"><a href="https://goo.gl/maps/B4Jy6fVznH82" target="_blank"><img src="~/Content/images/Address.png" height="24"></a>&nbsp;&nbsp;7080 Southwest Freeway</div>
                            <div class="col s12 blue-grey-text" style="line-height:24px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Houston TX 77074</div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    
    <div class="hide-on-large-only">
        <nav style="background-color:#F8F8F8; height:auto; padding-top:10px">
            <div class="container">
                <div class="row">
                    <div class="col m12 s12">
                        <img src="~/Content/images/ctnLogo.png" class="center" style="width:auto; height:auto; max-height:100px" />
                    </div>
                    <div class="col m1 s1">i</div>
                    <div class="col m5 s5 left blue-grey-text">7080 SW Freeway</div>
                    <div class="col m5 s5 right blue-grey-text"> (713) 484-6947</div>
                    <div class="col m1 s1 red">i</div>

                    <div class="col m1 s1"></div>
                    <div class="col m5 s5 left blue-grey-text">Houston TX 77074</div>
                    <div class="col m5 s5 right blue-grey-text">
                        <a href="http://facebook.com"><img src="~/Content/images/facebook.png" height="24" style="padding-right:5px" /></a>
                        <a href="http://twitter.com"><img src="~/Content/images/twitter.png" height="24" /></a>
                    </div>
                    <div class="col m1 s1"></div>
                </div>
            </div>
        </nav>
    </div>
    
    

    <div class="container body-content">
        @RenderBody()               
    </div>
    <footer class="teal lighten-1 white-text center">
        <div class="container">
            <p>&copy; @DateTime.Now.Year - CTN Texas</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>


<!-- 
    Social Media icons: 
    https://dribbble.com/shots/1209419-20-Social-Media-Icons-Freebie
    -->